{% extends "bootstrap/base.html" %}
{% block title %}Wheel of Shame{% endblock %}

{% block head %}
{{super()}}
<link rel=stylesheet type=text/css href="css/style.css">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127407805-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127407805-1');
</script>
{% endblock %}

{% block content %}
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}
