{% extends "base.html" %}

{% block content %}
<div class="container">
    {% include 'navbar.html' %}

    <div class="row" style="margin-top: 25px;">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">The Chopping Block
                    <select id="select_history" onchange="selectHistory()" style="margin-left: 25px;">
                        {% for week in weeks %}
                        <option value="{{ week }}">{{ week }}</option>
                        {% endfor %}
                    </select>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Football</th>
                                    <th>Hockey</th>
                                    <th>Basketball</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody id='results_table'>
                                {% for key, value in results['the_block'] %}
                                    {% if 'projected' not in key %}
                                        <tr>
                                            <td>{{ key }}</td>
                                            <td>{{ value['football'] }}</td>
                                            <td>{{ value['hockey'] }}</td>
                                            <td>{{ value['basketball'] }}</td>
                                            <td>{{ value['overall'] }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6 text-center">
                        <div class="panel-heading">
                            <h3>The Loser:</h3>
                        </div>
                        <h3 id='loser_name'>{{ results['the_loser'] }}</h3>
                        <b id='loser_punishment'>{{ results['the_punishment'] }}</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id='punishment'>
        {% if punishment %}
            {% if 'description' in punishment %}
            <div class="row">
                <p>{{ punishment['description'] }}</p>
            </div>
            {% endif %}
            {% if 'video' in punishment %}
            <div class="row">
                <iframe width="560" height="315" src="{{ punishment['video'] }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            {% endif %}
            {% if 'image' in punishment %}
            <div class="row">
                <img src="{{ punishment['image'] }}">
            </div>
            {% endif %}
            {% if 'iframe' in punishment %}
            <div class="row">
                <iframe src="{{ punishment['iframe'] }}"></iframe>
            </div>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    function selectHistory() {
        var week = document.getElementById('select_history').value;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                // Deal with results of the history request
                r = JSON.parse(this.responseText);
                results = r[0];
                punishment = r[1];

                // Need to rebuild the results table here... could take some work
                document.getElementById('loser_punishment').innerHTML = results['the_punishment'];
                document.getElementById('loser_name').innerHTML = results['the_loser'];

                var tbody = document.createElement('tbody');
                tbody.setAttribute('id', 'results_table');
                for (var i = 0; i < results['the_block'].length; ++i){
                    var [name, result] = results['the_block'][i];
                    if (!name.includes('projected')){
                        var row = document.createElement('tr');

                        newCell(row, name);
                        newCell(row, result['football']);
                        newCell(row, result['hockey']);
                        newCell(row, result['basketball']);
                        newCell(row, result['overall']);

                        tbody.appendChild(row);
                    }
                }

                document.getElementById('results_table').replaceWith(tbody);

                // Rebuild the punishment div
                var pdiv = document.createElement('div');
                pdiv.setAttribute('id', 'punishment');

                if ('description' in punishment){
                    var ddiv = document.createElement('div')
                    ddiv.setAttribute('class', 'row')
                    ddiv.innerHTML = punishment['description'];
                    pdiv.appendChild(ddiv);
                }

                if ('image' in punishment){
                    var idiv = document.createElement('div');
                    idiv.setAttribute('class', 'row');
                    var img = document.createElement('img');
                    img.setAttribute('src', punishment['image'])
                    idiv.appendChild(img);
                    pdiv.appendChild(idiv);
                }

                if ('video' in punishment){
                    var vdiv = document.createElement('div');
                    vdiv.setAttribute('class', 'row');
                    vdiv.innerHTML = '<iframe width="560" height="315" src="' + punishment['video'] + '" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
                    pdiv.appendChild(vdiv);
                }

                document.getElementById('punishment').replaceWith(pdiv);
            }
        };
        xhttp.open("GET", "results/" + week, true);
        xhttp.send();
    }

    function newCell(row, text){
        var cell = document.createElement("td");
        var cellText = document.createTextNode(text);
        cell.appendChild(cellText);
        row.appendChild(cell);
    }
</script>
{% endblock %}
