{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header text-center">
        <h1>The Wheel of Shame</h1>
    </div>
    {% if can_spin %}
    <div class="jumbotron text-center">
        <h2>Hello {{ name }}</h2>
        <button id="the_button" type="button" onClick="spinWheel()" class="btn btn-danger">Spin the Wheel!</button>
        <br/>
        <div id="new_result"></div>
    </div>
    {% endif %}
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">The Chopping Block</h3>
            </div>
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#actual">Actual</a></li>
                    <li><a data-toggle="tab" href="#projected">Projected</a></li>
                </ul>
                <div class="tab-content">
                    <div id="actual" class="tab-pane fade in active">
                        <div class="row">
                            <div class="col-sm-6">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Player</th>
                                            <th>Football</th>
                                            <th>Hockey</th>
                                            <th>Basketball</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key, value in chopping_block['the_block'] %}
                                            {% if 'projected' not in key %}
                                                <tr>
                                                    <td>{{ key }}</td>
                                                    <td>{{ value }}</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>{{ value }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-6 text-center">
                                <div class="panel-heading">
                                    <h3>On the Block:</h3>
                                </div>
                                <h3>{{ chopping_block['next_victim'] }}</h3>
                            </div>
                        </div>
                    </div>
                    <div id="projected" class="tab-pane fade">
                        <div class="row">
                            <div class="col-sm-6">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Player</th>
                                            <th>Football</th>
                                            <th>Hockey</th>
                                            <th>Basketball</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key, value in chopping_block['the_block'] %}
                                            {% if 'projected' in key %}
                                                <tr>
                                                    <td>{{ key.split('_')[0] }}</td>
                                                    <td>{{ value }}</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>{{ value }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-6 text-center">
                                <div class="panel-heading">
                                    <h3>On the Block:</h3>
                                </div>
                                <h3>{{ p_loser }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-header">
        <h3>This weeks results:</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br/>
            {% for key, value in history.items() %}
                <b>{{ key }}: </b><p>{{ value }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    function spinWheel() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("new_result").innerHTML = this.responseText;
            document.getElementById("the_button").disabled = true;
          }
        };
        xhttp.open("GET", "wheels_will", true);
        xhttp.send();
    }
</script>
{% endblock %}
