{% extends "base.html" %}

{% block content %}
<div class="container">
    {% include 'navbar.html' %}
    {% if can_spin %}
    <div class="jumbotron text-center">
        <h2>Hello {{ name }}</h2>
        <button id="the_button" type="button" onClick="spinWheel()" class="btn btn-danger">Spin the Wheel!</button>
        <br/>
        <div id="new_result"></div>
    </div>
    {% endif %}

    {% if chopping_block['the_loser'] %}
    <div class="text-center" style="padding-bottom: 25px">
        <div class="page-header">
            <h3>Last Weeks Punishment:</h3>
        </div>
        <b>{{ chopping_block['the_loser'] }}</b>
    </div>
    {% endif %}

    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">The Chopping Block</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Player</th>
                                    <th>Football</th>
                                    <th>Hockey</th>
                                    <th>Basketball</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, value in chopping_block['the_block'] %}
                                    {% if 'projected' not in key %}
                                        <tr>
                                            <td>{{ key }}</td>
                                            <td>{{ value['football'] }}</td>
                                            <td>{{ value['hockey'] }}</td>
                                            <td>{{ value['basketball'] }}</td>
                                            <td>{{ value['overall'] }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6 text-center">
                        <div class="panel-heading">
                            <h3>On the Block:</h3>
                        </div>
                        <h3>{{ chopping_block['next_victim'] }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="page-header">
            <h3>This weeks results:</h3>
        </div>
        <ul class="list-group">
            {% for key, value in history.items() %}
            <li class="list-group-item"><b>{{ key }}: </b>{{ value }}</li>
            {% endfor %}
        </ul>
    </div>

   {% include 'footer.html' %}
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    function spinWheel() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("new_result").innerHTML = this.responseText;
            document.getElementById("the_button").disabled = true;
          }
        };
        xhttp.open("GET", "wheels_will", true);
        xhttp.send();
    }
</script>
{% endblock %}
