{% extends "base.html" %}

{% block content %}
<button type="button" onClick="spinWheel()">Spin the Wheel!</button>
<span id="result"></span>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    function spinWheel() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("result").innerHTML = this.responseText;
          }
        };
        xhttp.open("GET", "wheels_will", true);
        xhttp.send();
      }
</script>
{% endblock %}
